<%- include("header", {title: title}); %>

<h1>Eshop Ala Christopher</h1>

<p>Välkommen till min nyöppnade eshop!</p>
<p>Navigera dig i ovan flikar för att se vem som jobbat med uppgiften, få en översikt vilka kategorier som finns samt en närmare inblick i vilka produkter som erbjuds.</p>


<%- include("footer"); %>
